body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12pt;
}

h1 {
	margin: 0.5em 0 0.5em 0.5em;
	font-size: 120%;
}

#map {
	height: 600px;
	border: solid #000;
	border-width: 1px 0 1px 0;
}

#search {
	margin: 0.5em 0 0.5em 0.5em;
	font-size: 100%;
}

#postcode {
	width: 80px;
}

.osinfo .label {
	font-weight: bold;
}
